/*landing page css start*/
body, html{
  height: 100%;
  margin: 0;
}
body.landing{
  background-image: url("../images/helping_hands.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background-color: grey;
}

ul.nav a{
  color: white;
}
#home {
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  border: black;
  font-family:'Ubuntu', sans-serif;
}

.menu-area li a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.menu-area li{
  list-style: none;
  display: inline-block;
}
.custom-padding{
  padding-top: 25px;
}
nav{
  position: relative;
  padding: 0.2px 20px 10px 0.2px;
  text-align: right;
  z-index: 1;
  background: #333;
  margin: 0 auto;
  width:calc(100% - 60px);
  height: 50px;
  border-radius: 20px;
}
.menu-area li a:hover{
  background: #f4b642;
  color: #fff;
}
/*Landing page css end*/

/*About page css start*/
body.our_mission{
  background-image: url("../images/about_bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boxed{ /*Tracy use this if you want to change the style of 'The Concept' box*/
  position: relative;
  left: 670px;
  border: 10px solid #6fa574;
  border-radius: 20px;
  width: 500px;
  height: 150px;
  padding: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  margin: 40px;
  font-family:'Ubuntu', sans-serif;
  /*If you want to change font color use 'color'*/
  /*If you want to fill the boxes with colour instead of just having a border use 'background-color'*/
}
.boxed_1{ /*Tracy use this if you want to change the style of the 'Our Aim' box*/
  position: relative;
  left: 670px;
  border: 10px solid #6fa574;
  border-radius: 20px;
  width: 500px;
  height: 150px;
  padding: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  margin: 40px;
  font-family:'Ubuntu', sans-serif;
  /*If you want to change font color use 'color'*/
  /*If you want to fill the boxes with colour instead of just having a border use 'background-color'*/
}
/*About css end*/

/*Sectors css start*/
body.sector_information{
  background-color: #dcdfe5;
}
body.sector_information h1{
  margin-left: 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  color: #112749;
}
.collapsible {
    color: white;
    cursor: pointer;
    padding: 60px;
    width: 100%;
    border: none;
    text-align: left;
    outline: black;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 60px;
    display: none;
    overflow: hidden;
    background-color: grey;
    color: white;
}
#sector_info{
  margin: 10;
}
#environment{
  background-image: url("../images/environment.png");
  color: #0e380b;
  font-weight: bold;
  font-size: 20px;
}
#refugees{
  background-image: url("../images/refugees.png");
  color: #300527;
  font-weight: bold;
  font-size: 20px;
}
#care{
  background-image: url("../images/care.png");
  color: black;
  font-weight: bold;
  font-size: 20px;
}
#animals{
  background-image: url("../images/animals.png");
  color: #4f2b00;
  font-weight: bold;
  font-size: 20px;
}
.space{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #112749;
  border-radius: 5px;
}
/*Connect css start*/
body.connect{
  background-color: #e8fcd6;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #e8fcd6;
    padding: 50px;
    font-family: 'Cabin', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
/*Connect css end*/
